{
  "htmlWhitespaceSensitivity": "ignore",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": [ "*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true,
        "printWidth": 120
      }
    },
    {
        "files": ["*.js", "*.ts"],
        "options": {
          "useTabs": true,
          "printWidth": 120,
          "singleQuote": true
        }
      }
  ]
}
