{{- define "main" -}}
  <div class="fluidity-container-1">
    <div class="mb-4 lg:mb-8">
      <h1 class="fluidity-page-title text-3xl group flex items-center gap-2 mb-1">
        <span class="fluidity-page-title-icon">
          {{- partial "utils/icon.html" (dict "icon" "archives") -}}
        </span>
        {{- i18n "archive" | strings.Title -}}
      </h1>
      <p class="fluidity-page-desc">
        {{- i18n "total" | default "Total" | title }}
        {{ len (where site.RegularPages "Section" "in" site.Params.mainSections) }}
        {{ i18n "article" | default "articles" -}}
      </p>
    </div>

    <!-- Archive List -->
    <div class="space-y-4">
      {{- $pageSize := site.Params.pageSize.archives | default 20 -}}
      {{- $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections) $pageSize -}}
      {{- if $paginator -}}
        <div
          class="fluidity-box-1">
          {{- range $paginator.Pages.GroupByPublishDate "January 2006" -}}
            {{- if ne .Key "January 0001" -}}
              <div>
                <!-- Header -->
                <div class="p-4 bg-sky-50/30 dark:bg-sky-950/30">
                  <div class="flex items-center gap-3">
                    <h2 class="text-xl font-semibold text-slate-900 dark:text-slate-50">
                      {{- replace .Key "January 0001" "" }}
                    </h2>
                    <div
                      class="flex items-center space-x-1.5 text-xs px-2.5 py-1 
                                bg-sky-100/80 dark:bg-sky-800/50 
                                border border-sky-200/50 dark:border-sky-700/50
                                rounded-full
                                transition-colors duration-300">
                      <div class="w-1 h-1 bg-sky-500/90 dark:bg-sky-400/90 rounded-full"></div>
                      <div class="text-sky-700 dark:text-sky-100">
                        {{- len .Pages }}
                        {{ i18n "article" | default "articles" -}}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Content -->
                <div
                  class="border-t border-blue-100 dark:border-blue-900/50 
                            bg-white/50 dark:bg-neutral-900/50">
                  <div class="divide-y divide-blue-100 dark:divide-blue-900/50">
                    {{- range .Pages -}}
                      {{- if eq .Kind "page" -}}
                        {{- partial "partials/archive-article.html" . -}}
                      {{- end -}}
                    {{- end -}}
                  </div>
                </div>
              </div>
            {{- end -}}
          {{- end -}}
        </div>
      {{- end -}}
    </div>

    <!-- Paginator -->
    {{- partial "paginator.html" . -}}
  </div>
{{- end -}}
