{{- define "main" -}}
  <div class="fluidity-container-1">
    <!-- Header section -->
    <div class="mb-4 lg:mb-8">
      <h1 class="fluidity-page-title text-3xl group flex items-center gap-2 mb-1">
        <span class="fluidity-page-title-icon">
          {{- partial "utils/icon.html" (dict "icon" "collection") -}}
        </span>
        <span class="relative">
          {{- .Title -}}
          <span class="fluidity-page-title-line"></span>
        </span>
      </h1>
      <p class="fluidity-page-desc">
        {{- i18n "total" | default "Total" | title }} {{ len .Pages }} {{ i18n "article" | default "articles" -}}
      </p>
    </div>

    <!-- Article list -->
    <div class="space-y-4">
      <h2 class="sr-only">{{- .Title }} total {{ len .Pages }} {{ i18n "article" | default "articles" -}}</h2>
      {{- $pageSize := site.Params.pageSize.list | default 10 -}}
      {{- $paginator := .Paginate .Pages $pageSize -}}
      {{- if $paginator -}}
        <div class="fluidity-box-1">
          {{- range $paginator.Pages }}
            {{- partial "partials/archive-article.html" . }}
          {{ end }}
        </div>
      {{ end }}
    </div>

    <!-- Pagination -->
    {{- partial "paginator.html" . -}}
  </div>
{{- end -}}
